body {
    background-color: beige;
}

nav {
    background-color: lightblue;
    text-align: center;
}

h1.font {
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (min-width: 600px) {
    section {
        font-size: 30px;
    }
    h1 {
        font-size: 50px;
    }
}